/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #6396b1 !important;
  --toolbarbutton-icon-fill: #7dc4e4 !important;
  --toolbar-field-color: #cad3f5 !important;
  --tab-selected-textcolor: #7dc4e4 !important;
  --toolbar-color: #cad3f5 !important;
  --arrowpanel-color: #cad3f5 !important;
  --arrowpanel-background: #24273a !important;
  --sidebar-text-color: #cad3f5 !important;
  --zen-main-browser-background: #24273a !important;
  --zen-main-browser-background-toolbar: #24273a !important;
}

#zen-browser-background {
  --zen-main-browser-background: #24273a !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #24273a !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #24273a !important;
}

#zen-workspaces-button {
  background-color: #24273a !important;
}

#TabsToolbar {
  background-color: #24273a !important;
}

.urlbar-background {
  background-color: #24273a !important;
}

.urlbar-input::selection {
  color: #24273a !important;
  background-color: #7dc4e4 !important;
}

.urlbarView-url {
  color: #a5adcb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #7dc4e4
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #9adcfa !important;
  --identity-icon-color: #9adcfa !important;
}

.identity-color-turquoise {
  --identity-tab-color: #7dc4e4 !important;
  --identity-icon-color: #7dc4e4 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffaf !important;
  --identity-icon-color: #a5ffaf !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff9a5 !important;
  --identity-icon-color: #fff9a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff672 !important;
  --identity-icon-color: #fff672 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbe !important;
  --identity-icon-color: #ff9fbe !important;
}

.identity-color-pink {
  --identity-tab-color: #aee5ff !important;
  --identity-icon-color: #aee5ff !important;
}

.identity-color-purple {
  --identity-tab-color: #6396b1 !important;
  --identity-icon-color: #6396b1 !important;
}

#zen-appcontent-navbar-container {
  background-color: #24273a !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #7dc4e4 !important;
  color: #7dc4e4 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #7dc4e4 !important;
  color: #7dc4e4 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #7dc4e4 !important;
}
